#base de donne
*.sqlite3
db.sqlite3
.gitignore

# Fichiers de code compilé
*.pyc
__pycache__/

# Fichiers de distribution et de construction (si vous packagez votre app)
.Python
build/
dist/
*.egg-info/

# Logs
*.log

# Fichiers de Médias (images uploadées, etc.)
# Créez ce dossier MEDIA_ROOT si ce n'est pas déjà fait.
/media/
/static/img/
/static_files/

#Environnement Virtuel
venv/
env/
.venv/

# ----------- IDE ET SYSTEME D'EXPLOITATION -----------
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDE (PyCharm)
.idea/
.vscode/